/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Set a background color for the entire page */
body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
   
            
}


/* Header styles */
header {
    background-color: #002855; /* UMKC's official blue color */
    color: #ffffff;
    padding: 10px;

}
/* Main content area */
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

/* Headings and text styles */
h1 {
    color: #002855; /* UMKC blue for headings */
    font-size: 28px;
}

h2 {
    color: #002855;
    font-size: 24px;
}

p {
    line-height: 1.6;
}

/* Links */
a {
    color: #0066cc; /* UMKC's official link color */
}

a:hover {
    text-decoration: underline;
}



/* Footer */
footer {
    background-color: #002855;
    color: #ffffff;
    text-align: center;
    padding: 10px;
}

h60 {
    font-family: Oswald,sans-serif;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #0066cc;
}

.application{
    padding: 0;
   h60{text-align: center;}
}


h30 {
    color: black; /* UMKC blue for headings */
    font-size: 40px;
    font-weight: bold;
    font-family: Oswald,sans-serif;
    text-align: center;
}
body {
    background-color: whitesmoke;
    color: #044c7c;
}

.container {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    background-color: white;
}

table.dataTable {
    clear: both;
    margin-top: none !important;
    margin-bottom: 6px !important;
    max-width: none !important;
    /* border-collapse: separate !important; */
    border-spacing: 0;
}

.btn-apply {
    background-color: #FFdd00;
    border-color: #FFdd00;
    color: #044c7c;
    margin-right: 0px;
    width: max-content;
    font-weight: bolder;
}

.btn-apply:hover {
    background-color: #044c7c;
    color: #FFdd00;
    box-shadow: 3px 3px 3px #FFdd00;
}

.submit-btn{
  color: white;
  background-color: #0066cc;
  font-weight: bolder;
}

.submit-btn:hover{
background-color: #FFdd00;
border-color: #FFdd00;
color:#0066cc;
font-weight: bolder;
}
.pad{
    padding-right: 2rem!important;
}

p5{
    color:black; 
    font-size: 19px;
    margin-bottom: 20px;
}

Styling for the delete application page
.umkc-delete-application {
    width: 300px;
    margin: 0 auto;
    text-align: center;
}

.umkc-delete-application h1 {
    color: #002D72; /* UMKC blue color */
    font-size: 24px;
    margin-bottom: 20px;
}

.umkc-delete-application p {
    margin: 10px 0;
}

.umkc-delete-application button {
    background-color: #002D72; /* UMKC's delete action color (for example) */
    color: #fff;
    border: #FFdd00;
    padding: 1px;
    cursor: pointer;
    width: 50%;
}

.application-management{
    margin:3%;
   
}